* {
    margin: 0;
}

body {
    height: 4000px;
}


.box {
    height: 400px;
    width: 400px;
}

.box-1{
    background-color: darkmagenta;
}

.box-2 {
    background-color: cornflowerblue;
    position: absolute;
    right: 0;
    top: 0;
}

.box-3 {
    background-color: deepskyblue;
    left: calc(50% - 400px / 2);
    bottom: 0;
    position: fixed;
}

.filho {
    width: 200px;
    height: 200px;
    background-color: dimgrey;
    left: calc(50% - 200px / 2);
    position: relative;
    top: calc(50% - 200px / 2);
}

p {
    text-align: center;
    padding: 40px;
}


