@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, head body {
    width: 100vw;
    height: 100vh;
}

main.container {
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header.main-menu {
    padding: 15px;
    background: linear-gradient(90deg, #2c2930 3%, #21372d 17%, #365659 39%, #2b5357 58%, #3e575d 100%, #00d5ff 100%);
   
    
}

header.main-menu a {
    text-decoration: none;
    color: #ffebcd;
    padding: 15px;
    margin: 10px;
    text-transform: uppercase;
    display: inline;
    
}

header.main-menu a:hover {
    padding: 15px;
    color: #f0cb86;
    background-color: #2d5353;
    border-radius: 5px;
}


header h1{
    display: flex;
    justify-content: center;
    color: #9cd9e9;
}

main.container p {
    color: #ffffff;
    padding: 10px;
    
}

iframe {
    position: absolute;
    left: calc(50% - 120vh / 2);
    top: calc(50% - 30vw / 2);
    width: 1000px;
    height: 600px;
}

div.conteudo {
    display: flex;
    justify-content: center
}



div.conteudo h1 {
    position: absolute;
    justify-content: center;
    color: #ffffff;
    bottom: calc(50% - 45vw / 2);
    cursor: pointer;
}

#lista {
    color: #ffffff;
    position: absolute;
    right: calc(50% - 160vh / 2);
    bottom: calc(50% - 10vw / 2);
    font-size: 25px;
    cursor: pointer;
}

#facebook {
    width: 50px;
    height: 50px;
    background-image: url(../imagens/icon-facebook.png);
    background-size: cover;
    position: fixed;
    top: 90%;
    left: 95%;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
}

